</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/app-style-switcher.js"></script>
<!--Wave Effects -->
<script src="js/waves.js"></script>
<!--Menu sidebar -->
<script src="js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="js/custom.js"></script>
<!--Option Annual JavaScript -->
<script src="js/optionPage.js"></script>
<!--Covid Page JavaScript -->
<script src="js/covidPage.js"></script>
<!--Lookup Page JavaScript -->
<script src="js/lookup.js"></script>

<!--Info Page JavaScript -->
<script src="js/info.js"></script>
<!--confirm-member Page JavaScript -->
<script src="js/confirm-member.js"></script>
</body>

</html>