   <!-- ============================================================== -->
   <!-- footer -->
   <!-- ============================================================== -->
   <footer class="footer text-center"> NJS101x_01 © A_VN Lập trình Web với NodeJS <a href="/">Assignment 2 </a>
   </footer>
   <!-- ============================================================== -->
   <!-- End footer -->
   <!-- ============================================================== -->